In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mp
import matplotlib.pyplot as plt

In [25]:
df = pd.read_csv('dataset/error3.csv')

In [26]:
df.head()

   Days_per_Month   Month        X
0              31  Jul-13  1285601
1              31  Aug-13  1286562
2              30  Sep-13  1245975
3              31  Oct-13  1288453
4              30  Nov-13  1247805

In [27]:
monthly_inc_rate = 1.001172472
r = monthly_inc_rate

In [5]:
df.columns

Index(['Days_per_Month', 'Month', 'X', 'Y'], dtype='object')

In [30]:
length = df['X'].count()
length

59

In [34]:
rate = 0.0
for i in range(0,length-1):
    rate = rate + (df.loc[i+1,'X'] / df.loc[i, 'X'])
rate = rate / (df.loc[:,"X"].count()-1)
               
rate

1.0018636966037517

In [36]:
for i in range(1,length):
    df.loc[i, "Y"] = df.loc[i-1, "X"] * rate *(df.loc[i,"Days_per_Month"] / df.loc[i-1,"Days_per_Month"])

In [38]:
df[["X", "Y"]]

          X             Y
0   1285601           NaN
1   1286562  1.287997e+06
2   1245975  1.247380e+06
3   1288453  1.289907e+06
4   1247805  1.249214e+06
5   1290344  1.291802e+06
6   1291305  1.292749e+06
7   1167166  1.168514e+06
8   1293134  1.294628e+06
9   1252335  1.253752e+06
10  1295025  1.296491e+06
11  1254165  1.255586e+06
12  1296916  1.298386e+06
13  1297877  1.299333e+06
14  1256925  1.258351e+06
15  1299768  1.301243e+06
16  1258755  1.260184e+06
17  1301659  1.303138e+06
18  1302620  1.304085e+06
19  1177386  1.178753e+06
20  1304449  1.305964e+06
21  1263285  1.264723e+06
22  1306340  1.307827e+06
23  1265115  1.266556e+06
24  1308231  1.309722e+06
25  1309192  1.310669e+06
26  1267875  1.269321e+06
27  1311083  1.312579e+06
28  1269705  1.271155e+06
29  1312974  1.314474e+06
30  1313935  1.315421e+06
31  1230035  1.231456e+06
32  1315795  1.317316e+06
33  1274265  1.275723e+06
34  1317686  1.319195e+06
35  1276095  1.277557e+06
36  1319577  1.321089e+06
37  1320538  1.322036e+06
38  1278855  1.280322e+06
39  1322429  1.323946e+06
40  1280685  1.282155e+06
41  1324320  1.325841e+06
42  1325281  1.326788e+06
43  1197854  1.199259e+06
44  1327110  1.328667e+06
45  1285215  1.286694e+06
46  1329001  1.330531e+06
47  1287045  1.288527e+06
48  1330892  1.332425e+06
49  1331853  1.333372e+06
50  1289805  1.291292e+06
51  1333744  1.335282e+06
52  1291635  1.293126e+06
53  1335635  1.337177e+06
54  1336596  1.338124e+06
55  1208074  1.209498e+06
56  1338425  1.340003e+06
57  1296165  1.297664e+06
58  1340316  1.341867e+06

In [42]:
df.dropna(inplace=True)

### MAE is not accurate because data values are too big

In [43]:

from sklearn.metrics import mean_squared_error

lin_mse = mean_squared_error(df[["X"]], df[["Y"]])
lin_rmse = np.sqrt(lin_mse)
print(lin_rmse)

1475.6916838617565

### USING MAPE

In [49]:
mape = np.mean(np.abs((df["X"] - df["Y"]) / df["X"])) * 100

# Accuracy

In [50]:
print((1-mape) * 100)

88.55989012381153